{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container bg-light shadow-md p-5 form-layout"> 

    <h3> Login to  your account </h3>
    

    <hr>
    <br> 

    <form method="POST" autocomplete="off">
        
         {% csrf_token %} 

         {{ form2| crispy }}

         <button type="submit" class="btn btn-primary w-100 btn-block p-2"> Login </button>

    </form>

    <br>

    <div class="text-center">
        <p> Don't  have an account? </p> <a href = "{% url 'register' %}">Register Here </a>


    </div>
</div>
    <br>

</body>











{% endblock %}